# Source this file to setup for chrome dev.
# Note absence of trailing /
_s = $_o/src
_d = $_o/depot_tools
_w = $_s/third_party/WebKit

GYP_GENERATORS = ninja

switch ( `{uname} ) {
case Darwin
  GYP_DEFINES = 'component=shared_library use_goma=1 clang=1'
case *
  GYP_DEFINES = 'component=shared_library use_goma=1 clang=1 chromeos=1'
}

path = ($_w/Tools/Scripts $_s/tools $_d $path )

# must update this to point at something reasonable
# from: git clone git://gitorious.org/qtwebkit/testfonts.git
WEBKIT_TESTFONTS=$_o/testfonts

# To get content_browsertests to run (And setup the dependencies.)
CHROME_DEVEL_SANDBOX=/usr/local/sbin/chrome-devel-sandbox

fn gclient {
  u $_o/depot_tools/gclient $*
}

# update these for the paths that I want to shorten
matchlist = ( \
    $_w/Source/WebCore/ \
    $_w/Source/WebKit/ \
    $_w/LayoutTests/ \
    $_s/third_party/ \
    $_s/ \
    $_o/ \
    $matchlist \
)

cdpath = (\
    . \
    $_w/Source \
    $_w/LayoutTest \
    $_w/Platform \
    $_s \
    $cdpath \
)

_extra_status = '(chrome) '

# Running Goma
# TODO(rjkroege): These need to be updated.
# I might want to make this configurable
fn goma-enable {
  # I don't have a consistent home for goma.	
  $home/goma/goma_ctl.sh ensure_start
}

fn goma-disable {
  # TODO: This should also adjust the firewall configuration
  _np = ()
  for (i in $path) {
    switch ($i) {
    case $_o/goma
    case *
      _np = ($_np $i)
    }
  }
  path = $_np
  CC = ()
  CXX = ()
}

# Path to out directory then targets. 
# TODO(rjkroege): Test if goma is available, start if possible, use if started.
# To use alternative directories, re-jig $_s
fn nin {
  _target = $1
  shift   
  _p = $_s^'/'^$_target
  _eeh = `{echo $_p | sed 's/\//\\\//g'}^'\/Errors'
   # echo $_eeh
   # 9p read acme/index | awk  '{print $1}'
   # echo '/'^$_eeh^'/ { print $1}'
 _nef = `{9p read acme/index | awk '/'^$_eeh^'/ { print $1}'}
  switch ( $#_nef )  {
  case 0
    echo "No error file? Bad directory?"
  case *
    ninja -j4 -C $_s^'/'^$_target $* | 9p write acme/^$_nef^/body
  }
}

# Default build.
fn nind {
    nin out/Debug $*
}

# Oz build.
fn ninoz {
    nin out_cros_aura/Release $*
}

fn install {
  _target = $1
    ssh pixel stop ui
    # Copy chrome over.
    rsync -rtlv --inplace $_target^'/Release/'^(chrome content_shell chrome.pak libffmpegsumo.so locales resources resources.pak) pixel:/opt/google/chrome/.
    rsync -rtlv --inplace $_target^'/Release/lib' pixel:/opt/google/chrome/.
    # ssh pixel start ui
}

fn installoz {
   install  out_cros_aura
}
